<h2 class="account title text-center"> My Account <h2>

<div class="container">
  <div class="row">
    <div class="col-sm-4"> Guest info:
      <p class="text-success small col-sm-5">
        <%= @login_user.full_name %><br />

        <%= @login_user.email %>
      </p>
    </div>
    <div class="col-sm-4"> Orders:
      <% i = 1 %>
      <p class="text-success small col-sm-5">  <% @login_user_orders.each do |order| %>
        <%= link_to "View Order #{i}", order_path(order.id) %>
        <% i += 1 %>
        <% end %></div></p>

    <div class="col-sm-4"> Reviews:
      <p class="text-success small col-sm-5">
        <%= link_to "User reviews ",@reviews %></p>
        </section>
    </div>
  </div>

</div>

<section id='seller_status'>
<% if @login_user.is_a_seller %>
  <p>You are currently a Spagh-ettsi merchant. To change your status, click the button below.<p>
  <%= form_with model: @login_user, local: true do |f| %>
    <%= f.hidden_field :is_a_seller, value: false %>
    <%= f.submit "I want to stop selling delicious pasta" %>
  <% end %>
<% else %>
  <p>You are currently a Spagh-ettsi customer. To become a merchant, click the button below.<p>
  <%= form_with model: @login_user, local: true do |f| %>
    <%= f.hidden_field :is_a_seller, value: true %>
    <%= f.submit "I want to share my handcrafted pasta with the world" %>
  <% end %>
<% end %>
</section>
