
<!-- Side navigation -->
<div class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Page content -->
<div class="main">
  ...Merchant Dashboard
</div>


<!-- change these to link to new special MERCHANT ORDER VIEW PAGE-->
<section>
  <p> Total Orders: <%= @total_orders %></p>

  <% @orders.each do |order| %>
    <%= link_to "Order ##{order.id}", order_path(order.id) %>
  <% end %>
</section>
<section>
  <p> Total Revenue: <%= readable_price(@login_user.total_revenue) %></p>
</section>

<section>
  <p> Orders Awaiting Fulfillment: <%= @total_paid_orders %> </p>

  <% @paid_orders.each do |order| %>
    <%= link_to "Order ##{order.id}", order_path(order.id) %>
  <% end %>
</section>

<section>
  <p> Completed Orders: <%= @total_completed_orders %> </p>

  <% @completed_orders.each do |order| %>
    <%= link_to "Order ##{order.id}", order_path(order.id) %>
  <% end %>
</section>

<section>
  <p> Total: <%= @total_products %> Products </p>
</section>

<section>
  <p> <%= @total_active_products %> Active Products </p>

  <% @active_products.each do |product| %>
    <%= link_to "#{product.name}", product_path(product.id) %>
  <% end %>

</section>

<section>
  <p> <%= @total_inactive_products %> Inactive Products </p>

  <% @inactive_products.each do |product| %>
    <%= link_to "#{product.name}", product_path(product.id) %>
  <% end %>

</section>
