<section>
  <p> Total Orders: <%= @total_orders %></p>

  <% @orders.each do |order| %>
    <%= link_to "Order ##{order.id}", merchant_order_path(order.id) %>
  <% end %>
</section>

<section>
  <p> Orders Awaiting Fulfillment: <%= @total_paid_orders %> </p>

  <% @paid_orders.each do |order| %>
    <%= link_to "Order ##{order.id}", merchant_order_path(order.id) %>
  <% end %>
</section>

<section>
  <p> Completed Orders: <%= @total_completed_orders %> </p>

  <% @completed_orders.each do |order| %>
    <%= link_to "Order ##{order.id}", merchant_order_path(order.id) %>
  <% end %>
</section>
