<%= form_tag checkout_path, remote: false, id: 'checkout_form' %>
<%= hidden_field_tag 'status', 'paid', form: 'checkout_form' %>

<h1 class="top-info">Checkout</h1>
<table class="table col-lg-9 checkout-table">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <strong>Review Items</strong>
        <div class="card checkout-container col-lg-9 offset-sm-1">
          <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
              <tr>
                <th scope="col" width="200">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" width="120">Item Subtotal</th>
              </tr>
            </thead>
            <% @shopping_cart.order_products.each do |order_product| %>
            <tbody>
                <tr>
                  <td>
                    <figure class="media">
                      <div class="img-wrap"><%= image_tag(order_product.product.image_url, alt: "small product icon", class: "img-thumbnail img-sm") %></div>
                      <figcaption class="media-body">
                        <h3 class="title text-truncate"><%= order_product.product.name %></h3>
                      </figcaption>
                    </figure>
                  </td>
                  <td class="quantity-field">
                    <%= order_product.quantity %>
                  </td>
                  <td>
                    <div class="price-wrap">
                      <var class="price"><%= readable_price(order_product.product.price_in_cents)%></var>
                    </div>
                  </td>
                  <td>
                    <div class="price-wrap">
                      <var class="price"><%= readable_price(order_product.item_subtotal)%></var>
                    </div>
                  </td>
              </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>

                <td>
                  Subtotal
                </td>
                <td>
                  <%= readable_price(@shopping_cart.order_subtotal) %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>

                <td>
                  Seattle Sales Tax (10.1%)
                </td>
                <td>
                  <%= readable_price(@shopping_cart.seattle_sales_tax) %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  Flat Rate Shipping
                </td>
                <td>
                  <%= readable_price(@shopping_cart.flat_rate_shipping) %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>

                <td>
                  <strong>Order Total</strong>
                </td>
                <td>
                  <strong><%= readable_price(@shopping_cart.order_total) %></strong>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </td>
    </tr>

      <th scope="row">2</th>
      <td>
        <strong>Shipping Address</strong>
        <div class="form-group">
          <% if @login_user.addresses.any? %>
            <div class="col-sm-5">
              <%= select_tag 'address_id', options_from_collection_for_select(@login_user.addresses, "id", "street"), form: 'checkout_form' %>

            </div>

          <% end %>

          <%= link_to "Add an address", new_address_path %>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
        <strong>Payment Method</strong>
        <div class="form-group">
          <% if @login_user.payments.any? %>
          <div class="col-sm-5">
            <%= select_tag 'payment_id', options_from_collection_for_select(@login_user.payments, "id", "card_type"), form: 'checkout_form' %>

          </div>
          <% end %>
          <%= link_to "Add a payment method", new_payment_path %>
        </div>
      </td>

      <% if @login_user.full_name == 'Guest user' || @login_user.email == 'example@example.com' %>
            <tr>
              <th scope="row">4</th>
              <td>
                  <%= label_tag 'full_name', 'Full Name', form: 'checkout_form' %>
                  <%= text_field_tag 'full_name', @login_user.full_name, form: 'checkout_form' %>
                  <%= label_tag 'email', 'Email Address', form: 'checkout_form' %>
                  <%= text_field_tag 'email', @login_user.email, form: 'checkout_form' %>
              </td>
              <td></td>
            </tr>

      <% else %>

      <tr>
        <th scope="row">4</th>
        <td>
          <div><strong>Name:</strong> <%= @login_user.full_name %></div>
          <div><strong>Email:</strong> <%= @login_user.email %></div>
        </td>
        <td></td>
      </tr>
      <% end %>

  </tbody>
</table>
<div class="btn-group">
  <%= link_to "Back to Shopping Cart", shopping_cart_path, class: "btn btn-products btn-space"%>
  <%= link_to "Keep Shopping", products_path, class: "btn btn-products btn-space" %>
  <%= submit_tag "Submit Order", form: 'checkout_form', class: 'btn btn-products'%>
</div>
