<%= form_with model: @shopping_cart do |f| %>
  <%= f.hidden_field :status, value: :paid %>

<h1 class="top-info">Checkout</h1>
<table class="table col-lg-9 checkout-table">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <strong>Shipping Address</strong>
        <div class="form-group">
          <% if @login_user.addresses.any? %>
            <div class="col-sm-5">
            <%= f.select(:address_id) do %>
              <% @login_user.addresses.each do |address| -%>
                <%= content_tag(:option, address.street, value: address.id) %>
              <% end %>
            </div>
            <% end %>
          <% end %>

          <%= link_to "Add an address", new_address_path %>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
        <strong>Payment Method</strong>
        <div class="form-group">
          <% if @login_user.payments.any? %>
          <div class="col-sm-5">
            <%= f.select(:payment_id) do %>
              <% @login_user.payments.each do |payment| -%>
                <%= content_tag(:option, payment.card_number, value: payment.id) %>
              <% end %>
            <% end %>
          </div>
          <% end %>
          <%= link_to "Add a payment method", new_payment_path %>
        </div>
      </td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
        <strong>Review Items</strong>
        <div class="card shopping-cart-container col-lg-8">
          <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
              <tr>
                <th scope="col" width="200">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" width="120">Item Subtotal</th>
                <!-- <th scope="col" width="200" class="text-right">Action</th> -->
              </tr>
            </thead>
            <% @shopping_cart.order_products.each do |order_product| %>
            <tbody>
                <tr>
                	<td>
                    <figure class="media">
                    	<div class="img-wrap"><img src=<%= order_product.product.image_url %> class="img-thumbnail img-sm"></div>
                    	<figcaption class="media-body">
                    		<h3 class="title text-truncate"><%= order_product.product.name %></h3>
                    	</figcaption>
                    </figure>
                	</td>
          	      <td class="quantity-field">
                    <%= order_product.quantity %>
          	      </td>
          	      <td>
                		<div class="price-wrap">
                			<var class="price"><%= readable_price(order_product.product.price_in_cents)%></var>
                		</div>
          	      </td>
                  <td>
                    <div class="price-wrap">
                			<var class="price"><%= readable_price(order_product.item_subtotal)%></var>
                		</div>
                  </td>
              </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>

                <td>
                  Subtotal
                </td>
                <td>
                  <%= readable_price(@shopping_cart.order_subtotal) %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>

                <td>
                  Seattle Sales Tax (10.1%)
                </td>
                <td>
                  <%= readable_price(@shopping_cart.seattle_sales_tax) %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>

                <td>
                  Flat Rate Shipping
                </td>
                <td>
                  <%= readable_price(@shopping_cart.flat_rate_shipping) %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>

                <td>
                  <strong>Order Total</strong>
                </td>
                <td>
                  <strong><%= readable_price(@shopping_cart.order_total) %></strong>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="btn-group">
  <%= link_to "Back to Shopping Cart", shopping_cart_path, class: "btn btn-primary btn-space"%>
  <%= link_to "Keep Shopping", products_path, class: "btn btn-primary btn-space" %>
  <%= f.submit "Submit Order", class: 'btn btn-primary'%>
</div>

<% end %>
