<% @shopping_cart.order_products.each do |orderproduct| %>
  <%= orderproduct.product.name %>
  <%= orderproduct.quantity %>
<% end %>


<%= form_with model: @shopping_cart do |f| %>


  <%= f.hidden_field :status, value: :placed %>



  <div class="form-group">
    <%= f.label "Shipping Address" %>
    <% if @login_user.addresses.any? %>
      <%= f.select(:address_id) do %>
        <% @login_user.addresses.each do |address| -%>
          <%= content_tag(:option, address.street, value: address.id) %>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to "Add an address", new_address_path %>
  </div>

  <div class="form-group">
    <%= f.label "Payment Method" %>
    <% if @login_user.payments.any? %>
      <%= f.select(:payment_id) do %>
        <% @login_user.payments.each do |payment| -%>
          <%= content_tag(:option, payment.card_number, value: payment.id) %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to "Add a payment method", new_payment_path %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit Order", class: 'btn btn-primary'%>
  </div>

<% end %>
