<div class="top-info">
<% if @shopping_cart.nil? || @shopping_cart.products ==[] %>
  <div class="top-info">
    <h2> Your shopping cart is empty!  Add some fusilli, silly! </h2>
  </div>
<% else @shopping_cart %>
  <h3><%= @shopping_cart.user.full_name %></h3>
  <h4>You have <%= @shopping_cart.order_products.count %> item(s) in your cart.</h4>
</div>


<div class="card shopping-cart-container">
  <table class="table table-hover shopping-cart-wrap">
    <thead class="text-muted">
      <tr>
        <th scope="col">Product</th>
        <th scope="col" width="120">Quantity</th>
        <th scope="col" width="120"></th>
        <th scope="col" width="120">Price</th>
        <th scope="col" width="120">Item Subtotal</th>
        <!-- <th scope="col" width="200" class="text-right">Action</th> -->
      </tr>
    </thead>
    <% @shopping_cart.order_products.each do |order_product| %>
    <tbody>
      <tr>
        <td>
          <figure class="media">
            <div class="img-wrap"><%= image_tag(order_product.product.image_url, alt:"product icon", class: "img-thumbnail img-sm") %></div>
            <figcaption class="media-body">
              <h3 class="title text-truncate"><%= order_product.product.name %></h3>
            </figcaption>
          </figure>
        </td>
        <td class="quantity-field">
          <%= form_with model: order_product, id: "update_inventory_#{order_product.id}", local: true do |f| %>
          <%= f.number_field :quantity, min: 0, max: (order_product.product.quantity + order_product.quantity), class: 'form-control'%>
          <%= f.hidden_field :id %>

        </td>  
        <td>
          <%= f.submit "Update Quantity", class: "btn btn-products", form: "update_inventory_#{order_product.id}" %>
          <% end %>
        </td>
        <td>
          <div class="price-wrap">
            <var class="price"><%= readable_price(order_product.product.price_in_cents)%></var>

          </div> <!-- price-wrap .// -->
        </td>
        <td>
          <div class="price-wrap">
            <var class="price"><%= readable_price(order_product.item_subtotal)%></var>

          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td></td>
      <td>
        Order Subtotal
      </td>
      <td>
        <%= readable_price(@shopping_cart.order_subtotal) %>
      </td>
    </tfoot>
  </table>
</div> <!-- card.// -->

</div>

<div class="btn-group">
  <%= link_to "Keep Shopping", products_path, class: "btn btn-products btn-space" %>
  <%= link_to "Continue to Checkout", checkout_path, class: "btn btn-products" %>
</div>
<% end %>
<!--container end.//-->
