<% if @shopping_cart %>
  <h3><%= @shopping_cart.user.first_name %>
  <%= @shopping_cart.user.last_name %></h3>
  <ul>
  <% @shopping_cart.order_products.each do |order_product| %>
      <li><%= order_product.product.name %>
        <%= form_with model: order_product, local: true do |f| %>
          <%= f.number_field :quantity, min: 0, max: (order_product.product.quantity + order_product.quantity), class: 'form-control'%>
          <%= f.hidden_field :id %>
          <%= f.submit "Update Quantity" %>
        <% end %>
      </li>
  <% end %>
</ul>

<%= link_to "Continue to Checkout", checkout_path %>
<%= link_to "Keep Shopping", products_path %>
<% else %>
  <h2> Your shopping cart is empty!  Add some fusilli, silly! </h2>
<% end %>
