

<%= form_with model: @payment, local: true do |f| %>

  <%= f.hidden_field :user_id, value: @login_user.id %>

  <div class="form-group">
    <%= f.label "Billing Address" %>

    <% if @login_user.addresses.any? %>
      <%= f.select(:address_id) do %>
        <% @login_user.addresses.each do |address| -%>
          <%= content_tag(:option, address.street, value: address.id) %>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to "Add an address", new_address_path %>
  </div>

  <div class="form-group">
    <%= f.label :card_number %>
    <%= f.text_field :card_number, maxlength: 19, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :expiration_date %>
    <%= f.date_field :expiration_date, min: Date.today, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :cvv %>
    <%= f.text_field :cvv, maxlength: 4, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :card_type %>
    <%= f.select :card_type, @card_types, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Save Payment", class: 'btn btn-primary'%>
  </div>

<% end %>
