<div class="container address-container border col-lg-5">
  <div class="col-sm-9 mx-auto text-center top-info">
        <h1 class="wv-heading--title">
           Add a product!
        </h1>
        <br></br>
        <h2 class="wv-heading--subtitle">
           "Spaghetti can be eaten most successfully if you inhale it like a vacuum cleaner."
        </h2>
        <h6> ---  Sophia Loren</h6>
  </div>

  <%= form_with model: @product, local: true do |f| %>
  <%= f.hidden_field :user_id, value: session[:user_id] %>
  <form>
    <div class="form-group row top-row">
      <%= f.label "Product Name", class: "col-sm-3 offset-sm-1 col-form-label"  %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control', id:"name" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label "Unit Price ($)", class: "col-sm-3 offset-sm-1 col-form-label"  %>
      <div class="col-sm-7">
        <%= f.number_field :price_in_cents, step: 0.01, min: 0, value: form_price(@product.price_in_cents), class: 'form-control', id: 'form_price' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label "Quantity in Stock", class: "col-sm-3 offset-sm-1 col-form-label"  %>
      <div class="col-sm-7">
        <%= f.number_field :quantity, min: 1, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :category, class: "col-sm-3 offset-sm-1 col-form-label"  %>
      <div class="col-sm-6 input-lg">
        <%= f.select :category, @product_categories, class: "form-control"%>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label "Product Description", class: "col-sm-3 offset-sm-1 col-form-label"  %>
      <div class="col-sm-7">
        <%= f.text_area :description, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label "Paste the web address of this product's photo", class: "col-sm-3 offset-sm-1 col-form-label"  %>
      <div class="col-sm-6">
        <%= f.text_field :image_url, class: 'form-control'%>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 offset-sm-4">
        <%= f.submit "Submit Product", class: 'btn btn-primary'%>
      </div>
    </div>
    <div class="col-md-12 ">
       <div class="login-or">
          <hr class="hr-or">
          <span class="span-or">or</span>
       </div>
    </div>
    <div class="col-sm-9 offset-sm-4">
      <%=link_to "Return to Products", products_path, class: 'btn btn-primary'%>
    </div>
    <p class="col-sm-7 text-center offset-sm-3 small mt-3">By adding a product and becoming a merchant, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
    </p>
  </form>
  <% end %>

</div>
