<div class="text-center">
  <!-- <h1>All our products</h1> -->
  <script>
    filterSelection('all');
  </script>

<!-- Control buttons -->
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn btn-show" onclick="filterSelection('long')"> Long</button>
    <button class="btn btn-show" onclick="filterSelection('short')"> Short</button>
    <button class="btn btn-show" onclick="filterSelection('shell')"> Shell</button>
    <button class="btn btn-show" onclick="filterSelection('sheet')"> Sheet</button>
    <button class="btn btn-show" onclick="filterSelection('filled')"> Filled</button>
    <button class="btn btn-show" onclick="filterSelection('soup')"> Soup</button>
  </div>



  <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
  <div class="products-container">
    <% i = 1 %>
    <% @products.each do |product| %>
    <div class="filterDiv card product-card bg-white <%= product.category %>">
      <%= link_to image_tag("#{product.image_url}", alt: "Card image cap", class: "card-img-top"), product_path(product.id) %>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <hr>
        <p class="card-text"><%= readable_price(product.price_in_cents)%></p>
        <!-- <p class="card-text"><%#= product.description %></p>
        <p class="card-text">Stock:<%#= product.quantity %></p>
        <p class="card-text">Rating: </p> -->

          <%#= link_to "More Details", product_path(product.id), class: "btn btn-products inline" %>

        <div class="dropdown">
          <button class="btn btn-products inline dropdown-toggle index-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add to Cart
          </button>
          <div class="dropdown-menu">
            <h2><%= product.name %></h2>
            <div class="dropdown-divider"></div>
            <%= form_with model: @order_product do |f| %>
            <form class="px-4 py-3">
              <div class="form-group quantity-field">
                <%= f.label :quantity %>
                <%= f.number_field :quantity, value: 1, class: 'form-control'%>
              </div>
              <%= f.hidden_field :product_id, value: product.id %>

              <div class="form-group action">
                <%= f.submit "Submit", class: 'add-to-cart btn btn-primary quantity-field'%>
              </div>
            </form>
            <% end %>
          </div>

          </div>
        </div>
      </div>
    </div>
      <% i += 1 %>
    <%end%>
  </div>
</div>
