<h1>All the products</h1>
<!-- Control buttons -->
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('long')"> Long</button>
  <button class="btn" onclick="filterSelection('short')"> Short</button>
  <button class="btn" onclick="filterSelection('shell')"> Shell</button>
  <button class="btn" onclick="filterSelection('sheet')"> Sheet</button>
  <button class="btn" onclick="filterSelection('filled')"> Filled</button>
  <button class="btn" onclick="filterSelection('soup')"> Soup</button>
</div>


<!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
<div class="container">
  <% i = 1 %>
  <% @products.each do |product| %>
  <div class="filterDiv card <%= product.category %>">
    <%= link_to image_tag("/images/pasta#{i}.jpg", alt: "Card image cap", class: "card-img-top"), product_path(product.id) %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text">$<%= product.price_in_cents%></p>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text">Stock:<%= product.quantity %></p>
      <p class="card-text">Rating: </p>
      <a href="#" class="btn btn-products">Reviews</a>
      <%=link_to "Buy", product_path(product.id), class: "btn btn-products" %>
    </div>
  </div>
  <!-- <div class="filterDiv stuffed">Tortellini</div>
  <div class="filterDiv short">Rigitoni</div>
  <div class="filterDiv filled">Manacotti</div>
  <div class="filterDiv filled">Ravioli</div>
  <div class="filterDiv short">Ziti</div>
  <div class="filterDiv short">Rotini</div>
  <div class="filterDiv short">Mostaccioli</div>
  <div class="filterDiv long">Cappalini</div>
  <div class="filterDiv sheet">Lasagna</div>
  <div class="filterDiv shell">Conchiglie</div>
  <div class="filterDiv short">Gnocci</div>
  <div class="filterDiv soup">Ditalini</div> -->
    <% i += 1 %>
  <%end%>
</div>
