<section>

<h1> <%= action_name %> </h1>


<%= form_with model: @review, class: "review-form"  do |f|%>
  <p>A penne for your thoughts:</p>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <!-- <%= f.label :product_id, "Review" %>
  <%= f.select :product_id, Review.all %> -->
  <section class="description-section">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </section>

  <%= f.submit "Save review", class: "book-button", class: "review-button btn btn-primary" %>
<% end %>
</section>
