<div class="container address-container border col-lg-6">
  <%= form_with model: @review, url: create_review_path(@product.id), method: :post, class: "review-form" do |f|%>
  <div class="col-sm-9 mx-auto text-center top-info">
    <h1 class="wv-heading--title">New <%= @product.name %> Review</h1>
    <h2 class="wv-heading--subtitle">A penne for your thoughts:</h2>
  </div>
  <%= f.hidden_field :product_id, value: @product.id %>
  <form>
    <div class="form-group row">
      <%= f.label :rating, class: "col-sm-3 offset-sm-1 col-form-label" %>
      <div class="col-sm-6">
        <%= f.select :rating, [1,2,3,4,5], {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :review, class: "col-sm-3 offset-sm-1 col-form-label" %>
      <div class="col-sm-6">
        <%= f.text_area :review, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-9 offset-sm-4">
      <%= f.submit "Save review", class: "review-button btn btn-products" %>
    </div>
    <% end %>
  </form>
</div>
</div>
