<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<h1>New review</h1>
<section>
  <%= form_with model: @review, url: new_product_review_path(@product.id), method: :post, class: "review-form" do |f|%>

  <p>A penne for your thoughts: </p>
  <!-- <p>How many </p><i class="em em-spaghetti"></i><p>do you give this product?
    1 is bad, 5 is excellent!  </p> -->

  <%= f.label :rating %>
  <%= f.select :rating, [1,2,3,4,5] %>

  <section class="description-section">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </section>

  <%= f.submit "Save review", class: "review-button btn btn-products" %>

  <% end %>
